@font-face {
    font-family: 'Lment-v02';
    src: url('../fonts/Lment-v02.woff2') format('woff2'),
        url('../fonts/Lment-v02.woff') format('woff'),
        url('../fonts/Lment-v02.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
.logo {
	font-family: Lment-v02,Inconsolata,Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
	font-size: 2rem;
	line-height: 0.5;
	 /* Compensation d'une bizarrerie de la fonte */
	padding: 20px 10px 5px 10px;
}
body {
	font-family: Inconsolata,Fira Code,Monaco,Consolas,Ubuntu Mono,monospace;
	font-size: 1.2rem;
}
.footer {
	text-align: center;
}
.on-list {
	display: flex;
	align-items: center;
	justify-content: space-between;	
}
.on-list {
	text-align: left;
	margin: 10px auto;
	padding: 0;
}
.on-list .post-title {
	--border:3px dotted #ffa86a;
	--border:3px dotted var(--accent);
	position:relative;
	color:#ffa86a;
	color:var(--accent);
	margin:0 0 15px;
	padding-bottom:0;
	border-bottom: none;
/* 	font-weight: 400; */
	font-size: 1.2rem;
}
.post-title:after {
	content:"";
	position:absolute;
	bottom:0px;
	display:hidden;
	width:100%;
	border-bottom:none
}
blockquote {
	border: none;
	margin: 20px 0;
	padding: 0 25px;
}