<!DOCTYPE html>
<html lang="fr">
<head>
  
    <title>Écrire et éditer :: Infologie</title>
  
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<meta name="description" content="Dans [mon bilan sur mes outils]({% post_url 2020-04-08-mes-outils %}), j’ai distingué écriture et édition. On ne les démêle pourtant pas facilement… Explications.
Éditer en écrivant J’avais mentionné la polysémie du verbe éditer dans une conférence au congrès de la SFSIC (mon premier article publié !) :
 « Si la langue anglaise fait la distinction entre l’édition en tant que filière (publishing) et l’élaboration effective du document (editing) […] le terme français d’édition a acquis une certaine polysémie." />
<meta name="keywords" content="" />
<meta name="robots" content="noodp" />
<link rel="canonical" href="/notes/202005222030/" />




<link rel="stylesheet" href="assets/style.css">

  <link rel="stylesheet" href="assets/red.css">



<link rel="stylesheet" href="style.css">


<link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">

  <link rel="shortcut icon" href="img/favicon/favicon.png">



<meta name="twitter:card" content="summary" />

  <meta name="twitter:site" content="@arthurperret" />

<meta name="twitter:creator" content="Arthur Perret" />


<meta property="og:locale" content="fr" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Écrire et éditer :: Infologie">
<meta property="og:description" content="Dans [mon bilan sur mes outils]({% post_url 2020-04-08-mes-outils %}), j’ai distingué écriture et édition. On ne les démêle pourtant pas facilement… Explications.
Éditer en écrivant J’avais mentionné la polysémie du verbe éditer dans une conférence au congrès de la SFSIC (mon premier article publié !) :
 « Si la langue anglaise fait la distinction entre l’édition en tant que filière (publishing) et l’élaboration effective du document (editing) […] le terme français d’édition a acquis une certaine polysémie." />
<meta property="og:url" content="/notes/202005222030/" />
<meta property="og:site_name" content="Écrire et éditer" />

  
    <meta property="og:image" content="img/favicon/favicon.png">
  

<meta property="og:image:width" content="2048">
<meta property="og:image:height" content="1024">


  <meta property="article:published_time" content="2020-05-22 00:00:00 &#43;0000 UTC" />












</head>
<body class="">


<div class="container center headings--one-size">

  <header class="header">
  <div class="header__inner">
    <div class="header__logo">
      <a href="/">
  <div class="logo">
    INFOLOGIE
  </div>
</a>

    </div>
    <div class="menu-trigger">menu</div>
  </div>
  
    <nav class="menu">
  <ul class="menu__inner menu__inner--desktop">
    
      
        
          <li><a href="/a-propos">À propos</a></li>
        
      
      
    

    
  </ul>

  <ul class="menu__inner menu__inner--mobile">
    
      
        <li><a href="/a-propos">À propos</a></li>
      
    
    
  </ul>
</nav>

  
</header>


  <div class="content">
    
<div class="post">
  <h1 class="post-title">
    <a href="/notes/202005222030/">Écrire et éditer</a></h1>
  <div class="post-meta">
    
      <span class="post-date">
        2020-05-22 
      </span>
    
    
    <span class="post-author">::
      Arthur Perret
    </span>
    
  </div>

  

  

  

  <div class="post-content"><div>
        <p>Dans [mon bilan sur mes outils]({% post_url 2020-04-08-mes-outils %}), j’ai distingué écriture et édition. On ne les démêle pourtant pas facilement… Explications.</p>
<h1 id="éditer-en-écrivant">Éditer en écrivant<a href="#éditer-en-écrivant" class="hanchor" ariaLabel="Anchor">&#8983;</a> </h1>
<p>J’avais mentionné la polysémie du verbe éditer dans une conférence au congrès de la SFSIC (mon premier article publié !) :</p>
<blockquote>
<p>« Si la langue anglaise fait la distinction entre l’édition en tant que filière (<em>publishing</em>) et l’élaboration effective du document (<em>editing</em>) […] le terme français d’édition a acquis une certaine polysémie. […] Éditer, c’est orchestrer l’élaboration du document. Dans le contexte de cet article c’est la seconde dimension qui nous intéresse : éditer au sens de créer et manipuler des fichiers ; éditeur au sens de logiciel d’édition ; édition au sens de pratiques d’écriture, entre conception, rédaction et programmation ». [@perret2018, 2]</p>
</blockquote>
<p>Dans la dernière phrase, on voit que je ramène toutes les activités d’édition à l’écriture. Et c’est normal : déjà à l’époque, j’étais influencé par ma pratique, qui se passait essentiellement dans un écosystème textuel.</p>
<p>Aujourd’hui, elle s’y inscrit totalement. Je balise mon texte avec des signes de ponctuation et de scripturation [Ensemble des marques d’énonciation, manuscrites et typographiques. @laufer1986, 75] qui me permettent de le structurer, de le sémantiser, d’anticiper sa mise en forme. J’interviens sur le texte pour le réorganiser ou faire des substitutions, en cherchant et en remplaçant des chaînes de caractères (normales ou expressions régulières). Je conçois la mise en forme pour mes exports et je l’exprime dans différents langages informatiques (CSS, CSL, LaTeX…). Enfin, je mets en œuvre la fabrication par des commandes textuelles déléguées à des scripts.</p>
<p>En somme, tout autant que la rédaction, c’est aussi l’édition du texte, le design éditorial [Sur cette expression, lire le n°8 de <em>Sciences du design</em> : @bourassa2018] et la programmation éditoriale^[Cette expression-ci a probablement été inventée par Éric Guichard, au moins pour ce qui est du français – à vérifier.] qui relèvent de l’écriture dans ma pratique. Et le fait que ces activités soient mises en écriture les rapproche ; ainsi le passage au texte brut n’est pas une négation ou un rejet du design, ainsi que l’explique Daniel Allington :</p>
<blockquote>
<p>« Les auteurs qui choisissent LaTeX le font pour une raison opposée à celle, supposée, qu’ils préfèrent se concentrer sur le contenu et oublier le design […] Loin de croire qu’il vaut mieux laisser le design aux designers, ils utilisent LaTeX précisément parce qu’ils veulent s’occuper eux-mêmes du design de leurs documents. » [<em>“Authors choose LaTeX for the opposite reason to the stereotypical one about focusing on content and forgetting about design . . . They do not believe ‘that it is better to leave document design to document designers’: in fact, they are using it precisely because they want to have a go at being designers, which is in turn because they ‘worry about the appearance of their documents’.”</em> @allington2016]</p>
</blockquote>
<p>Je recommande vivement la lecture du billet dont j&rsquo;ai extrait le passage ci-dessus. L’auteur y reprend point par point les forces de LaTeX comme outil d’édition et ses faiblesses comme outil d’écriture, et j’ai trouvé la démonstration remarquable, car elle montre que l’écriture et l’édition ne se confondent pas : si leur superposition est indéniable, leurs contours n’en sont pas moins définissables.</p>
<h1 id="eierlegende-wollmilchsau">Eierlegende Wollmilchsau<a href="#eierlegende-wollmilchsau" class="hanchor" ariaLabel="Anchor">&#8983;</a> </h1>
<p>Cette distinction entre écriture et édition, je la retrouve dans <a href="https://www.quaternum.net/2020/05/21/fabriques-de-publication-stylo/">un billet récent d’Antoine Fauchié</a> à propos de l&rsquo;application Stylo. Antoine a rejoint la Chaire de recherche en écritures numériques où il contribue notamment à une recherche-développement autour de cet outil d’édition scientifique. Dans ce billet, qui fait partie d’une série intitulée <em>Fabriques de publication</em>, il livre son analyse personnelle de l’outil et fait cette remarque :</p>
<blockquote>
<p>« La priorité n’est pas encore de proposer un outil d’écriture. Stylo a d’abord été mis en place pour rédiger et gérer des articles scientifiques dans le cadre éditorial d’une revue. »</p>
</blockquote>
<p>Stylo permet pourtant d’écrire, en plus de renseigner des métadonnées, générer une bibliographie automatiquement, annoter à plusieurs et exporter dans divers formats. Mais la sélection des composants d’un système et la conception de son interface définissent la manière dont il répond à nos besoins d’écriture et d’édition. Et ces paramètres sont eux-mêmes déterminés en amont par le temps, les connaissances et les moyens disponibles pour développer l’outil.</p>
<p>Par conséquent, il faut faire des choix, et un prototype de recherche comme Stylo penche souvent d’un côté ou de l’autre de la distinction entre écrire et éditer. Stylo facilite l’édition via l’interfaçage des composants, la collaboration et l’exportation aux normes des éditeurs scientifiques. On peut le comparer à Zettlr (et Antoine a prévu de le faire), qui se concentre lui sur l’écriture, avec des fonctionnalités classiques mais indispensables (raccourcis clavier, boutons, menus) ainsi que d’autres plus spécifiques (liens internes, indexation par mots-clés). Ces ensembles de fonctionnalités ne se superposent pas, ce qui rend les deux outils potentiellement complémentaires.</p>
<p>Inversement, un logiciel développé dans un contexte commercial doit souvent se positionner de manière complète sur les deux plans. Le risque d’accoucher d’un mouton à cinq pattes est grand, ce qui explique peut-être le succès du modèle de développement open source pour les éditeurs de texte, y compris ceux portés par une grosse entreprise : les efforts de développement sont distribués sur une large communauté et ceux de rentabilité sont concentrés sur les services.</p>
<p>L’outil idéal existe-t-il ? Si oui, il s’agit probablement d’un cochon laineux et ovipare donnant du lait^[<em>Eierlegende Wollmilchsau</em>, expression découverte chez les collègues germanophones.] armé d’un couteau-suisse – c’est-à-dire qu’il fait tout et qu’en plus il utilise Pandoc.</p>
<h1 id="les-conditions-de-lécriture">Les conditions de l&rsquo;écriture<a href="#les-conditions-de-lécriture" class="hanchor" ariaLabel="Anchor">&#8983;</a> </h1>
<p>Dans [un billet qui date d’il y a un an]({% post_url 2019-03-14-et-a-la-fin-ecrire %}), j’avais évoqué une première fois l’importance des outils d’écriture et d’édition dans mon travail. À ce moment-là, j’étais passé d’un logiciel d’écriture taillé pour le Markdown mais un peu trop minimaliste et dirigiste (iA Writer) à un éditeur de texte polyvalent, doté de fonctionnalités expertes (BBEdit). L’un des objectifs était de rationaliser un peu mes expérimentations éditoriales en les faisant migrer vers mon environnement d’écriture : il s’agissait par exemple d’intégrer mes scripts de prévisualisation ou de conversion directement à l’interface de l’éditeur, en escamotant l’intermédiaire que constituait la ligne de commande. J’annonçais alors que cela me permettait de me pencher sur les <em>conditions d’écriture</em> de ma thèse – j&rsquo;avais l&rsquo;intuition que l&rsquo;expression renvoyait à un sens complexe et pas encore bien compris.</p>
<p>Nous sommes un an plus tard et j&rsquo;ai bien avancé sur ces conditions. Les voici en deux mots : des identifiants et des liens. Mon système d’écriture repose entièrement sur la capacité à identifier de manière unique un objet et à utiliser cet identifiant pour le relier à d’autres objets.^[Ce modèle en réseau constitue une partie de mon sujet de thèse.]</p>
<p>Je pourrais théoriquement tout faire à la main mais trois outils m’épargnent cette galère, en automatisant la gestion des identifiants et la création des liens : Zotero, Pandoc et Zettlr. Je stocke mes références dans Zotero. Le plugin Better BibTeX leur attribue des clés de citation de type auteur-date.^[La syntaxe Better BibTeX exacte est : <code>[auth:lower:nopunctordash][year]</code>. Cf. <a href="https://retorque.re/zotero-better-bibtex/installation/preferences/citation-keys/">la documentation du plugin</a>.] Je crée mes fichiers texte dans Zettlr, qui leur attribue un ID sous forme d’horodatage compact (exemple : <code>202005221321</code>). Dans ces fichiers, je mentionne les clés de mes références pour créer des citations, et les ID de mes fichiers texte pour créer des liens entre eux.^[La syntaxe des liens internes choisie par Zettlr est typique des wiki. On la retrouve dans d&rsquo;autres logiciels de Zettelkasten. En revanche, la syntaxe pour les citations est spécifique au <a href="https://pandoc.org/MANUAL.html#pandocs-markdown">Pandoc Markdown</a>.] Ils renvoient ainsi les uns aux autres, ainsi qu&rsquo;aux références. Exemple :</p>
<pre><code>---
title: Biblion
identifiant: 202005221321
---
Le concept de biblion est de Paul Otlet [@otlet1934, 12].
Cf. <a href=/notes/202005101602>202005101602</a> Documentologie
</code></pre><p>Comment ce système d’écriture s’articule-t-il avec ma pratique d’édition ? J’utilise toujours BBEdit, car même si Zettlr permet de manipuler le texte (expressions régulières) et d’intégrer de la programmation éditoriale (personnalisation de la commande Pandoc), il est plus limité et un peu moins efficace. En revanche, porter des fonctionnalités dédiées à l’écriture dans BBEdit est à la fois compliqué et révélateur du statut de l&rsquo;éditeur. Voici deux exemples.</p>
<p>Le premier, c’est la coloration syntaxique, c’est-à-dire la coloration dans l’interface des éléments spécifiques au langage informatique utilisé. Le Pandoc Markdown inclut des éléments n’appartenant pas à la syntaxe Markdown de base, et qui sont au cœur de ma pratique (les citations déjà mentionnées, mais également les notes). Leur coloration serait une aide visuelle appréciable. Zettlr est une instance de l&rsquo;éditeur de texte CodeMirror, qui lui-même ne colore que le Github-Flavored Markdown. Zettlr colore les citations, mais uniquement comme effet collatéral de l&rsquo;utilisation de <code>citeproc-js</code>, qui est responsable de leur rendu dans l&rsquo;interface.</p>
<p>Pour CodeMirror comme pour BBEdit, il faudrait créer un module de coloration syntaxique spécifique au Pandoc Markdown mais c&rsquo;est complètement hors de ma portée. En revanche, certains éditeurs <em>open source</em> et très modulaires ayant une plus large communauté d&rsquo;utilisateurs, comme Vim, Emacs ou encore Atom, disposent d&rsquo;un tel module.</p>
<p>Le second exemple concerne un petit bijou de sorcellerie logicielle. Il s’agit de l’insertion des identifiants. Écrire <code>@</code> (pour les clés de citations) ou <code>[[</code> (pour les ID) ouvre un sélecteur en forme de liste, qui permet de filtrer rapidement la liste des documents en tapant quelques caractères, puis d’insérer l’identifiant correspondant au document sélectionné.</p>
<p><img src="../img/2020-05-22-ecrire-et-editer.png" alt="Le sélecteur de clé pour les citations et le sélecteur de fichier pour les liens internes dans Zettlr (NB : c’est un montage, les deux ne peuvent pas apparaître en même temps)."></p>
<p>Là aussi, certains éditeurs disposent de modules qui remplissent ces fonctions. Le sélecteur de citations est une fonctionnalité populaire du fait de l’écosystème <a href="https://en.wikipedia.org/wiki/CiteProc">CiteProc</a>. Et le système des liens internes façon wiki est également implémenté ça ou là. Mais pas dans BBEdit, et j&rsquo;aurais du mal à fabriquer une telle fonctionnalité moi-même.</p>
<p>Cette dernière remarque m&rsquo;amène vers ma conclusion. À l&rsquo;évidence, toute ma pratique d’édition peut être facilement ramenée à de l’écriture mais ma principale activité d’écriture (rédiger de la prose scientifique), elle, n’est pas aisément transposable dans n’importe quel éditeur. Voilà une différence importante, et qui s&rsquo;explique par l&rsquo;existence de plusieurs jeux d&rsquo;écriture.</p>
<p>Les différents composants de ma pratique d&rsquo;édition existent dans un écosystème textuel que je peux investir sans trop de difficulté : modifier un style CSL, adapter un modèle LaTeX, écrire mon propre filtre Lua pour Pandoc, etc. C&rsquo;est le régime du déjà-écrit, du prêt-à-coder. Tout ceci est documenté, enseigné, discuté à un niveau qui m&rsquo;est (relativement) accessible. En revanche, l&rsquo;éditeur, c&rsquo;est-à-dire le programme qui me permet d&rsquo;écrire et d&rsquo;éditer, donc détermine mes <em>conditions d&rsquo;écriture</em>, lui est codé suivant un autre jeu d&rsquo;écriture, qui m&rsquo;est inaccessible. Je n&rsquo;ai tout simplement pas les compétences informatiques (en programmation, notamment) pour percer le niveau architextuel suivant.</p>
<p>Alors en attendant, je prends mes quartiers dans celui-ci, dont les défis ne sont pas tous résolus…</p>
<h1 id="références">Références<a href="#références" class="hanchor" ariaLabel="Anchor">&#8983;</a> </h1>

      </div></div>

  
  
<div class="pagination">
    <div class="pagination__title">
        <span class="pagination__title-h"></span>
        <hr />
    </div>
    <div class="pagination__buttons">
        
        <span class="button previous">
            <a href="/notes/202005241300/">
                <span class="button__icon">←</span>
                <span class="button__text">Revues où publier</span>
            </a>
        </span>
        
        
        <span class="button next">
            <a href="/notes/202005211636/">
                <span class="button__text">Otletosphère</span>
                <span class="button__icon">→</span>
            </a>
        </span>
        
    </div>
</div>

  

  

</div>

  </div>

  
    <footer class="footer">
  <div class="footer__inner">
      <div class="copyright">
        <span>© Arthur Perret 2020 :: Site réalisé avec <a href="http://gohugo.io">Hugo</a> :: Thème Terminal par <a href="https://twitter.com/panr">panr</a></span>
      </div>
  </div>
</footer>

<script src="assets/main.js"></script>
<script src="assets/prism.js"></script>





  
</div>

</body>
</html>
